server:
  port: 8083

spring:
  application:
    name: extraction-service
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 100MB

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

gemini:
  api:
    key: ${GEMINI_API_KEY:}
    model: ${GEMINI_API_MODEL:gemini-2.5-flash-preview-05-20}
