server:
  port: 8084

spring:
  application:
    name: submission-service
  datasource:
    url: jdbc:postgresql://postgres:5432/munitax_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    table: flyway_schema_history_submission

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
